/* GENERAL */
:root {
    /* primary */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    /* neutral */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
   overflow-x: hidden; 
}

button {
    color: white;
    background-image: linear-gradient(.25turn, var(--limeGreen), var(--brightCyan));
    padding: 1.5vw 3vw;
    font-family: 'Public Sans', sans-serif;
    outline: none;
    border: none;
    border-radius: 100px;
}

button:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
    cursor: pointer;
}

/* TYPOGRAPHY */
.mainSection h1,
.mainSection h2,
.mainSection h3 {
    font-weight: 300;
    color: var(--darkBlue);
    margin: 2vw 0;
}

.mainSection h1 {
    font-size: 40px;
}

.mainSection p {
    font-size: 14px;
    color: var(--grayishBlue);
    font-weight: 300;
    margin: 2vw 0;
}

/* NAVIGATION */
nav {
    background-color: var(--white);
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 3;
}

#navBarLogo {
    position: relative;
    top: 8px;
}

nav a {
    color: var(--grayishBlue);
    text-decoration: none;
    font-size: 14px;
    padding: 0 1vw 0 1vw;
    height: 50px;
    line-height: 50px;
}

.navButton:hover {
    color: var(--darkBlue);
    transition-duration: color 0.5s border 0.1s;
    border-bottom: 4px solid var(--brightCyan);
}

#navButtons {
    display: flex;
    justify-content: space-between;
}

nav button {
    max-height: 45px;
}
/* MAIN  */
.mainSection {
    padding: 0 10vw;
    overflow-x: hidden;
}

#topPhotos {
    visibility: hidden;
    position: absolute;
}

#section1 {
    padding-right: 0;
    display: flex;
    flex-direction: row;
    height: 90vh;
}

#sectionOneContent {
    height: 60%;
    padding-top: 8vh;
    margin: auto;
    width: 40%;
}

#sectionOneImages {
    height: 90vh;
    overflow: hidden;
}

.background {
    height: 150%;
    padding-top: 0;
    top: 0;
    left: 0;
    position: relative;
}

#mockup {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
}

#section1, #section3 {
    background-color: var(--veryLightGray);
}

#section2 {
    padding: 6vw 10vw;
    background-color: var(--lightGrayishBlue);
}

.subSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vw 0;
    flex-wrap: wrap;
}

.whyEasybank {
    padding-right: 2vw;
    padding-bottom: 2vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

#section3 {
    padding: 10vw;
}

article {
    flex-basis: 23%;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 10px;
}

article:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    cursor: pointer;
}

article img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

#section3Subsection h1 {
    font-size: 14px;
    padding: 0;
    text-align: left;
}

#section3Subsection h2,
#section3Subsection p {
    font-size: 10px;
    color: var(--grayishBlue);
    padding: 0;
    text-align: left;
}

.articleText {
    background-color: var(--white);
    padding: 1vw 2vw;
}

/* FOOTER */
footer {
    background-color: var(--darkBlue);
    color: var(--white);
    padding: 6vw 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
}

.filter {
    filter: invert(94%) sepia(100%) saturate(8%) hue-rotate(133deg) brightness(104%) contrast(103%);
}

#socialMediaLinks {
    padding: 4vw 4vw 4vw 0;
}

.socialMediaLink {
    padding: 0.5vw;
}

.socialMediaLink:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(19%) saturate(6462%) hue-rotate(153deg) brightness(92%) contrast(84%);
    transition-duration: 0.1s;
}

#extraLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

footer a:hover {
    color: var(--brightCyan);
    transition-duration: 0.5s;
} 

footer button {
    margin-bottom: 2vw;
}

#copyright {
    font-size: 10px;
    color: var(--grayishBlue);
    padding-bottom: 4vw;
}

.attribution {
    font-size: 10px; 
    text-align: center;
    color: var(--grayishBlue);
    background-color: var(--darkBlue);
}

.attribution a {
    font-size: 10px;
    padding: 0;
    text-decoration: none;
    color: var(--grayishBlue);
}

    

/* MEDIA QUERIES */
@media only screen and (max-width: 500px) {
    /* GENERAL */
    button {
        padding: 3vw 5vw;
    }
    /* TYPOGRAPHY */

    /* NAVIGATION */

    /* MAIN */
    .mainSection {
        width: 100vw;
        padding-left: 0;
    }

    #section1 {
        display: block;
        text-align: center;
        height: auto;
    }

    #sectionOneImages {
        width: 0%;
        visibility: hidden;
        position: absolute;
    }

    #topPhotos {
        visibility: visible;
        position: absolute;
        height: 60vh;
        width: 100%;
        background-image: url(images/bg-intro-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right top;
    }

    #topMockup {
        position: relative;
        width: 90%;
        top: -20%;
        left: 45%;
        transform: translateX(-50%);
    }

    #sectionOneContent {
        position: relative;
        width: 80vw;
        padding-top: 60vh;
        margin: 10vh auto;
        overflow-y: hidden;
    }

    #section2 {
        padding: 10vw 10vw;
        text-align: center;
    }
    
    br {
        display: none;
    }

    .subSection {
        display: flex;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .whyEasybank {
        width: 80vw;
        padding: 4vw;
    }    
    
    article {
        flex-basis: 100%;
    }

    article img {
        width: 100%;
        height: 60%;
        object-fit: contain;  
    }

    .articleText {
        padding: 6vw;
    }

/* FOOTER */
    footer {
        background-color: var(--darkBlue);
        color: var(--white);
        padding: 6vw 10vw 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        text-align: center;
        display: block;
    }
    
    footer a {
        text-decoration: none;
        color: var(--white);
        font-weight: 300;
        font-size: 14px;
        padding: 2vw;
    }
    
    .filter {
        filter: invert(94%) sepia(100%) saturate(8%) hue-rotate(133deg) brightness(104%) contrast(103%);
    }
    
    #socialMediaLinks {
        padding: 4vw;
    }
    
    #extraLinks .column {
        display: flex;
        flex-direction: column;
    }

    #extraLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    footer button {
        margin: 4vw;
    }
    
    #copyright {
        font-size: 10px;
        color: var(--grayishBlue);
        padding-bottom: 4vw;
    }
    
    .attribution {
        font-size: 10px; 
        text-align: center;
        color: var(--grayishBlue);
    }
    
    .attribution a {
        font-size: 10px;
        padding: 0;
    }


}

@media only screen and (max-width: 800px) {
    /* GENERAL */
    button {
        font-size: 14px;
        padding: 2vw 5vw;
    }
    /* TYPOGRAPHY */

    /* NAVIGATION */
    nav {
        padding: 2vw;
        height: 50px; 
    }

    #navButtons {
        visibility: hidden;
    }

    nav button {
        visibility: hidden;
    }

    /* MAIN */
    .whyEasybank {
        flex-basis: 50%;
        text-align: center;
        padding: 2vw;
        align-items: baseline;
    }

    article {
        flex-basis: 50%;
        align-self: start;
    }


    /* article img {
        width: 100%;
        object-fit: contain;
    } */

    /* #currencies {
        height: 24.5vw;
        width: 100%;
        object-fit: cover;
    } */


}

@media only screen and (max-width: 1200px) {
    /* GENERAL */

    /* TYPOGRAPHY */

    /* NAVIGATION */

    /* MAIN */
    #mockup {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0%;
    }

    article {
        flex-basis: 50%;
    }

    article img {
        width: 100%;
        height: 60%;

    }

    .articleText {
        padding: 4vw;
    }

    #section3Subsection h1 {
        font-size: 18px;
        padding: 0;
        text-align: left;
    }
    
    #section3Subsection h2,
    #section3Subsection p {
        font-size: 14px;
        color: var(--grayishBlue);
        padding: 0;
        text-align: left;
    }
    /* FOOTER */
}